<!--
<!DOCTYPE html>
<head>
    <title>Hello</title>
</head>

<body>
    <center>
    <hr size="3" noshade>
    <h1>The Adventures of Sherlock Holmes</h1> 
    <br>
    <h3>by </h3>
    <br>
    <h2>Sir Arthur Conan Doyle</h2>
    <hr size="3" noshade>
</body>

Template:
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    
</body>
-->
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Personal Site</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Drust's shame cave</h1>
    <p><em>Just a normal guy trying to find a good job</em></p>
    <hr>
    <p>
        So my task is to actually do this thing about paragraphs and things. I'm not actually concerned about it, but rather the
        implications of doing so. It's a pretty menial task if you ask me. So yeah, sometimes it's extremely hard to just type 
        some random words in the middle of a blank screen. There's not much to talk or to say in general. Finding topics it's 
        a very complicated an difficult task indeed
    </p>
    <hr>
    
    <h3>Education</h3>
    <ul>
        <li>B.Sc Mechanical Engineering, Universidad de los Andes, 2019, Colombia.</li>
        <li>Baccalaureate, Summerhill School, 2014, Colombia</li>
        <li>100 Days of Code Python Bootcamp, Udemy, Online</li>
        <li>Explorando la energía sustentable, Coursera, Universidad Católica de Chile, Online</li>
    </ul>
    <hr>
    <p>
        Here is a random link: <a href="http://www.rrrgggbbb.com">Link to this amazing website</a>
        <br>
        So here's a bunch of images without context:
    </p>
    <table cellspacing=30>
        <tr>
            <th><img class="bonk1" src="static/Bonk.jpg" alt="Bonk"></th>
            <th><img class="bonk2" src="static/no.jpg" alt="No bonk"></th>
            <th><img class="bonk3" src="static/yes.jpg" alt="YES bonk"></th>
        </tr>
    </table> 
    
    <h3>Leave a shame comment here:</h3>
    <form action="mailto:myemail@hotmail.com" method="post" enctype="text/plain">        
        <label>Name:
            <input type="text" name="input-name">      
        </label>
        <br><br>  
        <label>Email:
            <input type="email" name="input-email">
        </label>  
        <br><br>            
        <textarea id="commentary" name="commentary" rows="20" cols="70" autocapitalize="sentences" required="True">
            Here is an example on how to write like a proper human being.
        </textarea>  
        <br><br>
        <input type="submit">
    </form>
</body>

